.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  background-color: #ffffff;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #2B3043;
}

.searchWrapper {
  width: 567px;
  margin: 0 auto;
  padding-right: 200px;
}