.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.addButton {
  background-color:#8bc34a !important;
  border: none !important;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px !important;
  border-radius: 12px !important;
}