.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 16px;
}

.addButton {
  background-color: var(--color-main-green) !important;
  border: none !important;
  color: #ffffff !important;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 16px !important;
  border-radius: 10px !important;
}
